.customer-relationship {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f8f7f7;
  color: #000;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 15%;
}

.text-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50vh;
  height: 45vh;
}

h1 {
  font-size:60px; 
}

.text-card h1 {
  margin-top: 10px;
}


.text-container {
  padding: 1rem;
}

.image-card img{
  height: 480px;
  margin-left: 5%;
  border-radius: 18%;
}

.cta-button {
  background-color: rgb(3, 3, 52);
  color: #fff;
  padding: 10px 300px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: 10px;
  height: 10vh;
  white-space: nowrap;
}

.cta-button:hover {
  background-color: rgb(199, 199, 27);
}

.highlight-button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: 2px solid rgba(227, 226, 227, 0.467);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.highlight-button span {
  background-color: #FFFF00; 
  color: #000;
  padding: 0 5px; 
}