.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f7f7;
  color: #fff;
}

.logo img {
  height: 110px; /* Adjust based on your logo */
}

.nav {
  display: flex;
  margin-left: 20px;
}

.nav-list {
  list-style: none;
  margin: 10px;
  padding: 10px;
  display: flex;
}

.nav-item {
  margin-right: 15px;
  
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: gray;
}

.login-button{
  background-color: #f8f7f7; 
  color: #000; 
  border: none; 
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover{
  color: #fff;
  background-color: #000;
}

.getstarted-button{
  background-color: #000; 
  color: #f8f7f7; 
  border: none; 
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.getstarted-button:hover{
  color: #000;
  background-color: #fff;
}



body {
  background-color: #f8f7f7;
}

